.header {
  width: 100vw;
  height: 8.4rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1.6rem 11.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1001;
}

.header button {
  all: unset;
  background-color: transparent;

  width: 14.2rem;
  height: 4rem;
  border: 0.1rem solid #333333;
  border-radius: 3.2rem;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;

  text-align: center;

  color: #333333;

  cursor: pointer;
}

.logo-icon {
  border-radius: 50%;
  cursor: pointer;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.6rem;
  width: 5.6rem;
  background-color: transparent;
  cursor: pointer;
  padding: 1.6rem;
  border: solid 0.1rem #000;
  border-radius: 50%;
}

.menu-icon {
  height: 1.6rem;
  width: 1.6rem;
}

.buttonsHome, .buttonsPortfolio {
  transition: 0.3s;
}

.buttonsHome:hover {
  transition: 0.3s;
  background-color: #becc40;
}

.buttonsPortfolio:hover {
  transition: 0.3s;
  background-color: #62CBE9;
}

#modalHeader {
  z-index: 1002;
  position: fixed;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 80rem;
  height: 100vh;
  display: flex;

  padding-left: 11.9rem;

  flex-direction: column;
  justify-content: space-between;
  background-color: #333333;
}

.btnCloseModalHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.6rem;
  width: 5.6rem;

  background-color: transparent;
  cursor: pointer;
  padding: 1.6rem;
  border: solid 0.1rem #ffff;
  border-radius: 50%;
  color: #ffff;
}

.btnSvg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../public/img/iconWhite.svg");

  width: 1.6rem;
  height: 1.6rem;
}

.boxBtnHeader {
  display: flex;

  padding-left: 13.7rem;
  align-items: center;
  width: 46.4rem;
  height: 8.4rem;
}

.boxNavModal {
  display: flex;

  flex-direction: column;

  justify-content: space-around;
  align-items: flex-start;

  padding-left: 13.7rem;

  height: 28.8rem;
  width: 48rem;
}

.titleModalHeader {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;

  cursor: pointer;

  color: #ffffff;
}

.logoHeader {
  margin-top: 11.2rem;
  margin-left: 13.7rem;

  width: 12.1rem;
  height: 12.1rem;
  background-image: url("../../../public/img/sitefuja1.svg");
  cursor: pointer;
}

.containerFooterModal {
  display: flex;
}

.textModalFooter {
  width: 12.1rem;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;

  margin-top: 8rem;
  margin-left: 1.6rem;

  color: #ffffff;
}