.header {
  width: 100vw;
  height: 84px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1001;
}

.header button {
  all: unset;
  background-color: transparent;

  width: 142px;
  height: 40px;
  border: 1px solid #333333;
  border-radius: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;

  text-align: center;

  color: #333333;

  cursor: pointer;
}
.logo-icon {
  border-radius: 50%;
  cursor: pointer;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5em;
  width: 3.5em;
  background-color: transparent;
  cursor: pointer;
  padding: 1em;
  border: solid 1px #000;
  border-radius: 50%;
}
.menu-icon {
  height: 1em;
  width: 1em;
}

.header nav:hover,
.header button:hover,
.logo-icon:hover {
  background-color: #becc40;
}

#modalHeader {
  z-index: 1002;
  position: fixed;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 50em;
  height: 100vh;
  display: flex;

  padding-left: 16em;

  flex-direction: column;
  justify-content: space-between;
  background-color: #333333;
}
.btnCloseModalHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5em;
  width: 3.5em;

  background-color: transparent;
  cursor: pointer;
  padding: 1em;
  border: solid 1px #ffff;
  border-radius: 50%;
  color: #ffff;
}
.btnSvg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../public/img/iconWhite.svg");

  width: 1em;
  height: 1em;
}
.boxBtnHeader {
  display: flex;

  padding-left: 8.6em;
  align-items: center;
  width: 29em;
  height: 84px;
}
.boxNavModal {
  display: flex;

  flex-direction: column;

  justify-content: space-around;
  align-items: flex-start;

  padding-left: 8.6em;

  height: 18em;
  width: 30em;
}
.titleModalHeader {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;

  cursor: pointer;

  color: #ffffff;
}
.logoHeader {
  margin-top: 7em;
  margin-left: 8.6em;

  width: 7.6em;
  height: 7.6em;
  background-image: url("../../../public/img/sitefuja1.svg");
  cursor: pointer;
}
.containerFooterModal {
  display: flex;
}
.textModalFooter {
  width: 7.6em;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;

  margin-top: 5em;
  margin-left: 1em;

  color: #ffffff;
}
