.containerPortfolioFull {
  background-color: #333333;
  height: auto;
}

.containerPortolio {
  display: flex;

  flex-direction: column;


  height: 100vh;

}

.boxImgPortolio {
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/img/capaPortfolio.png);
}

.boxInfosPortfolioInicial {
  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 50%;
  background-color: #FFFFFF;
}

.boxTextIni {
  display: flex;

  flex-direction: column;

  justify-content: space-between;

  width: 112.8rem;
  height: 16.3rem;
}

.boxTxt {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 3.4rem;

  color: #333333;
}

.boxTitle {
  display: flex;

  align-items: center;

  background-color: #62CBE9;

  height: 2.2rem;
  width: 38.3rem;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;

  color: #333333;
}

.txtVideoPortfolio {
  height: 18.3rem;

  padding-left: 2.4rem;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 3.4rem;
}

.boxVideosPortfolio {
  display: flex;

  flex-direction: column;

  gap: 8.3rem;

  align-items: center;
  justify-content: space-around;

  background-color: #333333;
  padding-bottom: 8.3rem;


  height: auto;
}

.boxTitleVideos {

  width: 112.8rem;

  padding-top: 4.2rem;
  margin-bottom: -4rem;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 3.4rem;

  color: #FFFFFF;
}

.ContainerMoviePortfolio {
  display: flex;

  width: 112.8rem;
  height: 30.5rem;

  background-color: #FFFFFF;
}

.boxVideoPortfolio {
  width: 55.2rem;
}

#boxInfosVideoPortfolio {
  display: flex;
  width: 57.6rem;
  height: 100%;
  background-color: #333333;
  flex-direction: column;

}

.txtVideoPortfolio {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 4.4rem;

  color: #FFFFFF;

}

#boxVideoPortfolioOne {
  background-image: url(../../../public/img/rec01.svg);

  width: 55.2rem ;

  background-repeat: no-repeat;
  background-position: cover;
}

#boxVideoPortfolioTwo {
  background-image: url(../../../public/img/rec2.svg);

  width: 55.2rem;

  background-repeat: no-repeat;
  background-size: cover;
}

#boxVideoPortfolioTree {
  background-image: url(../../../public/img/rec3.svg);

  width: 55.2rem;

  background-repeat: no-repeat;
  background-size: cover;
}

#boxVideoPortfolioFour {
  background-image: url(../../../public/img/rec04.svg);

  width: 55.2rem;

  background-repeat: no-repeat;
  background-size: cover;
}

#boxVideoPortfolioFive {
  background-image: url(../../../public/img/rec05.svg);

  width: 55.2rem;

  background-repeat: no-repeat;
  background-size: cover;
}

.boxBtnVideo {
  display: flex;

  align-items: center;
  height: 12.1rem;

  padding-left: 2.4rem;

}

#btn1 {
  all: unset;

  display: flex;

  justify-content: center;
  align-items: center;

  color: #FFFFFF;

  cursor: pointer;

  border: 0.1rem solid #FFFFFF;

  height: 4rem;
  width: 16.6rem;
  border-radius: 3.2rem;

  font-family: Roboto;
font-weight: 500;
font-size: 1.6rem;

}

#btn1:hover {
  transition: 0.3s;
  background-color: #62CBE9;
  color: #333333;
}

#btn2 {

  all: unset;

  display: flex;

  justify-content: center;
  align-items: center;

  color: #FFFFFF;

  border: 0.1rem solid #FFFFFF;

  cursor: pointer;

  height: 4rem;
  width: 13rem;

  border-radius: 3.2rem;

  font-family: Roboto;
  font-weight: 500;
  font-size: 1.6rem;
}

#btn2:hover {
  transition: 0.3s;
  background-color: #62CBE9;
  color: #333333;
}

.containerTime {
  display: flex;

  justify-content: space-evenly;
  align-items: center;

  flex-direction: column;

  background-color: #FFFFFF;
  height: 120vh;
}

.ContainerTitleTime {
  width: 112.8rem;
}

.boxTitleTime {
  display: flex;

  align-items: center;

  background-color: #62CBE9;

  height: 2.2rem;
  width: 33rem;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;

  color: #333333;
}

.boxPicturesTime {
  display: flex;
  justify-content: space-around;
  height: 46.3rem;
  width: 112.8rem;
}

.pictureTimeMi {
  width: 26.4rem;
  height: 26.4rem;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/img/equipe03.svg);

  border-radius: 50%;
  border: 0.4rem solid #62CBE9;
}

.boxPicture {
  display: flex;

  flex-direction: column;
  align-items: center;

  justify-content: space-evenly;
}

.pictureTimePrimo {
  width: 26.4rem;
  height: 26.4rem;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/img/equipe01.svg);

  border-radius: 50%;
  border: 0.4rem solid #62CBE9;
}

.pictureTimeMoreno {
  width: 26.4rem;
  height: 26.4rem;


  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/img/equipe2.svg);

  border-radius: 50%;
  border: 0.4rem solid #62CBE9;
}

.nameTime {
  width: 18.2rem;
  height: 3.4rem;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 2.6rem;

  text-align: center;
  color: #333333;
}

.textTime {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;

  width: 36rem;
  height: 9.6rem;

  text-align: center;

  color: #333333;
}

.containerDepoimentos {
  display: flex;

  height: 95vh;

  justify-content: space-evenly;
  align-items: center;

  flex-direction: column;

  background-color: #333333;
}

.ContainerTitleDepoimento {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;

  width: 112.8rem;

  color: #FFFFFF;
}

.containerInfoDepoimentos {
  display: flex;

  justify-content: space-between;
  width: 112.8rem;
  height: 42.5rem;
}

.boxDepoimentos {
  display: flex;

  padding: 3rem;
  gap: 2.4rem;

  flex-direction: column;
  width: 55.2rem;
  height: 30.5rem;

  padding-left: 4.1rem;

  background: #F4F4F4;
  border-radius: 1rem;

}

.boxNomeDepoimento {
  display: flex;

  flex-direction: column;

  justify-content: space-around;
  width: 49.6rem;
  height: 7rem;


}

.nomeDepoimento {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;

  color: #333333;
}

#descriDepoimento {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;

  color: #333333;
}

#textDepoimentos {
  width: 47.3rem;
  height: 8.5rem;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;

  color: #333333;
}

#pictureDepoimento1 {

  position: absolute;

  margin-top: 21.5rem;
  margin-left: 18rem;
  background-image: url(../../../public/img/Ellipse14.svg);


  width: 12rem;
  height: 12rem;
}

#pictureDepoimento2 {

  position: absolute;

  margin-top: 21.5rem;
  margin-left: 18rem;
  background-image: url(../../../public/img/Ellipse13.svg);


  width: 12rem;
  height: 12rem;
}

.containerParcerias {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #FFFFFF;
}

.boxImgParcerias {
  display: flex;

  flex-direction: column;

  justify-content: space-between;
  width: 112.8rem;
  height: 32rem;
}

.ContainerTitleParcerias {
  width: 112.8rem;
}

.boxTitleParcerias {
  display: flex;

  align-items: center;

  background-color: #62CBE9;

  width: 46.4rem;
  height: 2.2rem;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;

  color: #333333;
}

.imgsParcerias1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 112.6rem;
  height: 11.5rem;
}

.imgTop1 {
  width: 11.7rem;
  height: 9.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/img/ParquedasDunas.svg);
}

.imgTop2 {
  width: 11.4rem;
  height: 11.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/img/BaleiaJubarte.svg);
}

.imgTop3 {
  width: 13.8rem;
  height: 11.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/img/Klaus.svg);
}

.imgTop4 {
  width: 8.9rem;
  height: 11.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/img/ECOA-removebg-preview1.svg);
}

.imgTop5 {
  width: 12.3rem;
  height: 11.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/img/Tamar.svg);
}

.imgTop6 {
  width: 10.5rem;
  height: 11.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/img/Sapiranga.svg);
}

.imgTop7 {
  width: 11.6rem;
  height: 11.5rem;

  background-size: cover;
  background-repeat: no-repeat;

  background-image: url(../../../public/img/TerraMirim.svg);
}

.imgBottom1 {
  width: 16.9rem;
  height: 4.6rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/img/globo.svg);
}

.imgBottom2 {
  width: 11.7rem;
  height: 5.7rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/img/RPPNLontra.svg);
}

.imgBottom3 {
  width: 13.5rem;
  height: 9.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/img/RBMATransparente.svg);
}

.imgBottom4 {
  width: 16.1rem;
  height: 4.6rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/img/logo_final_taboa.svg);
}

.imgBottom5 {
  width: 11.2rem;
  height: 5.7rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/img/ParquedaMAta.svg);
}

.imgBottom6 {
  width: 15.4rem;
  height: 3.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/img/bracell_logo_FA.svg);
}

#boxModal {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2.4rem;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  box-shadow: 0rem 0.3rem 1.7rem rgba(33, 33, 33, 0.25);
  border-radius: 0.8rem;

}

.boxTitleModal {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.titleModal {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;

  color: #333333;
}

.btnModal {
  width: 1.6rem;
  height: 1.6rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../public/img/closeModal.svg");
  cursor: pointer;
}

.boxVideosModal {
  display: flex;

  justify-content: space-between;

  gap: 4.8rem;
  padding: 5.2rem 6rem 4rem;
}

#videoModal1 {
  display: flex;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../public/img/rec052.svg");

  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 31rem;
}

#videoModal2 {
  display: flex;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../public/img/image5.svg");

  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 31rem;
}

#videoModal3 {
  display: flex;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../public/img/image6.svg");

  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 31rem;
}

#videoModal4 {
  display: flex;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../public/img/image7.svg");

  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 31rem;
}

.textVideoModal {
  display: flex;

  flex-direction: column;

  justify-content: end;
  align-items: center;

  width: 20rem;
  height: 5rem;


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;

  color: #333333;
}

.boxInternoVideoModal {
  display: flex;

  flex-direction: column;

  gap: 1.6rem;
  
}

.btnPlayModal {
  transition: 0.3s;
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 0.1rem solid #333333;
  width: 5.6rem;
  height: 5.6rem;
  cursor: pointer;
}

.btnPlayModal:hover{
  transition: 0.3s;
  background-color: #62CBE9;
}

.iconPlayModal {
  width: 1.6rem;
  height: 1.6rem;
  background-image: url("../../../public/img/iconPlay.svg");
  background-repeat: no-repeat;
  background-position: center;
}