.containerPortfolioFull {
  background-color: #333333;
  height: auto;
}
.containerPortolio {
  display: flex; 

  flex-direction: column;

 
  height: 100vh;

}
.boxImgPortolio {
height: 50%;
background-image: url(../../../public/img/capaPortfolio.png);
}
.boxInfosPortfolioInicial {
  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 50%;
  background-color: #FFFFFF;
}
.boxTextIni {
  display: flex;

  flex-direction: column;
  
  justify-content:space-between;
  
  width: 1128px;
  height: 163px;
}
.boxTxt{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 34px;

color: #333333;
}
.boxTitle {
  display: flex;

  align-items: center;

  background-color:  #62CBE9 ;

  height: 22px;
  width: 383px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;

  color: #333333;
}
.txtVideoPortfolio {
  height: 183px;

  padding-left: 24px;

  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 34px;
}

.boxVideosPortfolio {
  display: flex;

  flex-direction: column;
  
  gap: 83px;

  align-items: center;
  justify-content: space-around;

  background-color: #333333;
  padding-bottom: 83px;
  

  height: auto;
}
.boxTitleVideos {

  width: 1128px;

  padding-top: 42px;
  margin-bottom:  -40px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;

  color: #FFFFFF;
}

.ContainerMoviePortfolio{
  display: flex;

  width: 1128px;
  height: 305.06px;

  background-color: #FFFFFF;
}
.boxVideoPortfolio {
  width: 552px;
}
#boxInfosVideoPortfolio {
  display: flex;
  width: 576px;
  height: 100%;
  background-color: #333333;
  flex-direction: column;

}
.txtVideoPortfolio {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 44px;

color: #FFFFFF;

}

#boxVideoPortfolioOne{
  background-image: url(../../../public/img/rec01.svg);

  width: 552px;

  background-repeat: no-repeat;
  background-position: cover;
}
#boxVideoPortfolioTwo{
  background-image: url(../../../public/img/rec2.svg);
 
  width: 552px;

  background-repeat: no-repeat;
  background-size: cover;
}

#boxVideoPortfolioTree{
  background-image: url(../../../public/img/rec3.svg);

  width: 552px;

  background-repeat: no-repeat;
  background-size: cover;
}
#boxVideoPortfolioFour {
  background-image: url(../../../public/img/rec04.svg);
  
  width: 552px;
  
  background-repeat: no-repeat;
  background-size: cover;
}

#boxVideoPortfolioFive {
  background-image: url(../../../public/img/rec05.svg);

  width: 552px;

  background-repeat: no-repeat;
  background-size: cover;
}
.boxBtnVideo {
  display: flex;

  align-items: center;
  height: 121px;  

  padding-left: 24px;

}
#btn1 {
  all: unset;

  display: flex;

  justify-content: center;
  align-items: center;

  color: #FFFFFF;

  cursor: pointer;

  border: 1px solid  #FFFFFF;

  height: 40px;
width: 166px;
border-radius: 32px;

}

#btn1:hover {
  background-color: #62CBE9;
  color: #333333;
}
#btn2 {
  all: unset;

  display: flex;

  justify-content: center;
  align-items: center;

  color: #FFFFFF;

  border: 1px solid  #FFFFFF;

  cursor: pointer;

  height: 40px;
    width: 130px;

  border-radius: 32px;
}

#btn2:hover {
  background-color: #62CBE9;
  color: #333333;
}
.containerTime {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  
  flex-direction: column;

  background-color:  #FFFFFF;
  height: 120vh;
}
.ContainerTitleTime{
  width: 1128px;
}
.boxTitleTime{
  display: flex;

  align-items: center;

  background-color:  #62CBE9 ;

  height: 22px;
  width: 330px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;

  color: #333333;
}
.boxPicturesTime{
  display: flex;
  justify-content: space-around;
  height: 463px;
  width: 1128px;
}
.pictureTimeMi {
  width: 264px;
  height: 264px;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/img/equipe03.svg);
  
  border-radius: 50%;
  border: 4px solid #62CBE9;
}
.boxPicture{
  display: flex;

  flex-direction: column;
  align-items: center;

  justify-content: space-evenly;
}
.pictureTimePrimo {
  width: 264px;
  height: 264px;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/img/equipe01.svg);
  
  border-radius: 50%;
  border: 4px solid #62CBE9;
}
.pictureTimeMoreno{
  width: 264px;
  height: 264px;


  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/img/equipe2.svg);
  
  border-radius: 50%;
  border: 4px solid #62CBE9;
}
.nameTime {
  width: 182px;
  height: 34px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;

  text-align: center;
  color: #333333;
}
.textTime {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

width: 360px;
height: 96px;

text-align: center;

color: #333333;
}
.containerDepoimentos {
  display: flex;

  height: 95vh;

  justify-content: space-evenly;
  align-items: center;

  flex-direction: column;
  
  background-color: #333333;
}
.ContainerTitleDepoimento{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;

  width: 1128px;

  color:#FFFFFF;
}
.containerInfoDepoimentos{
  display: flex;

  justify-content: space-between;
  width: 1128px;
  height: 425px;
}
.boxDepoimentos {
  display: flex;

  justify-content: space-around;

  flex-direction: column;
  width: 552px;
height: 305px;

padding-left: 41px;

background: #F4F4F4;
border-radius: 10px;

}
.boxNomeDepoimento {
  display: flex;
  
  flex-direction: column;

  justify-content: space-around;
  width: 496px;
  height: 70px;

  
}
.nomeDepoimento{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
 
  color: #333333;
}
#descriDepoimento{
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;

  color: #333333;
}
#textDepoimentos {
  width: 473px;
height: 85px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;

color: #333333;
}

#pictureDepoimento1{
  
  position: absolute;

  margin-top: 335px;
  margin-left: 180px;
  background-image: url(../../../public/img/Ellipse14.svg);

  
  width: 120px;
  height: 120px;
}
#pictureDepoimento2 {
    
  position: absolute;

  margin-top: 335px;
  margin-left: 180px;
  background-image: url(../../../public/img/Ellipse13.svg);

  
  width: 120px;
  height: 120px;
}