.footer {
  background-color: #333;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.footer a {
  all: unset;
}

.left-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-right: solid 0.1rem #666;
  height: 16rem;
  width: 100%;
  padding: 1em;
}

.logo {
  margin-right: 6.4rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  height: 11.2rem;
}

.left-container p {
  width: 28.2rem;
  height: 12.6rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;

  color: #FFFFFF;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.footer nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}

.footer nav a {
  margin-bottom: 1.6rem;
  text-decoration: underline;
}

nav a:hover {
  color: #becc40;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.social-media p {
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.social-media-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3.2rem;
}

.social-media-icons a {
  cursor: pointer;
}

.contact a {
  cursor: pointer;
}